body {
    padding: 10px;
}

#userInput {
    display: flex;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    margin-bottom: 5px; /* Space between the tag filter and the next element */
    margin-top: 5px; /* Space between the tag filter and the previous element */
    font-size: var(--joplin-font-size);
}

#userInput input {
    flex-grow: 2;
    min-height: 26px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
}

#userInput button {
    min-height: 26px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-spacing: 5px;
    border-style: solid;
}

#userInput button:hover {
    background-color: var(--joplin-background-color-hover3);
}

#tagList {
    flex-grow: 1;
    max-height: 60px;
    overflow-y: auto;
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px; /* Space between the tag list and the next element */
    margin-top: 5px; /* Space between the tag list and the previous element */
    font-size: var(--joplin-font-size);
    box-sizing: border-box;
}

.tag {
    display: inline-block;
    padding: 3px;
    margin: 2px;
    background-color: #e7e7e7;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--joplin-font-size);
}

.tag:hover { background-color: #d3d3d3; }

.tag.selected, .tag.negated {
    color: white;
    font-size: var(--joplin-font-size);
}

.tag.selected { background-color: #7698b3; }
.tag.selected:hover { background-color: #7aaab8; }
.tag.negated { background-color: #e66c6c; }
.tag.negated:hover { background-color: #f08080; }

/* Styling for the delete button */
button {
    margin-left: 5px;
    cursor: pointer;
    font-size: var(--joplin-font-size);
}

#queryArea {
    max-height: 105px; /* Adjust the height as needed */
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    overflow-y: auto;
    font-size: var(--joplin-font-size);
    box-sizing: border-box;
}

.operator {
    padding: 3px;
    margin: 0 5px;
    background-color: #e7e7e7;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: var(--joplin-font-size);
}

.operator:hover {
    background-color: #d3d3d3
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-corner {
	background: none;
}

::-webkit-scrollbar-track {
	border: none;
}

::-webkit-scrollbar-thumb {
	background: rgba(100, 100, 100, 0.3);
	border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(100, 100, 100, 0.7);
}
