body {
    padding: 10px;
}

#itags-search-inputTagArea {
    display: flex;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: var(--joplin-font-size);
}

#itags-search-tagFilter {
    flex-grow: 2;
    min-height: 23px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
}

#itags-search-tagClear, #itags-search-saveQuery, #itags-search-tagSearch {
    flex-grow: 1;
    min-height: 23px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-spacing: 5px;
    border-style: solid;
}

#itags-search-inputTagArea button:hover {
    background-color: var(--joplin-background-color-hover3);
}

#itags-search-tagList {
    max-height: 60px;
    overflow-y: auto;
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px; /* Space between the tag list and the next element */
    margin-top: 5px; /* Space between the tag list and the previous element */
    font-size: var(--joplin-font-size);
    box-sizing: border-box;
}

#itags-search-inputNoteArea {
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: var(--joplin-font-size);
}

#itags-search-noteList {
    width: calc(53% - 7.5px);
    min-height: 23px;
    margin-left: 5px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
}

#itags-search-noteFilter {
    width: calc(47% - 7.5px);
    min-height: 23px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
}

#itags-search-queryArea {
    max-height: 105px; /* Adjust the height as needed */
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    overflow-y: auto;
    font-size: var(--joplin-font-size);
    box-sizing: border-box;
}

.itags-search-tag {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    background-color: #e7e7e7;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--joplin-font-size);
}

.itags-search-tag:hover { background-color: #d3d3d3; }

.itags-search-tag.selected, .itags-search-tag.negated {
    color: white;
    font-size: var(--joplin-font-size);
}

.itags-search-tag.selected { background-color: #7698b3; }
.itags-search-tag.selected:hover { background-color: #7aaab8; }
.itags-search-tag.negated { background-color: #e66c6c; }
.itags-search-tag.negated:hover { background-color: #f08080; }

.itags-search-note {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    background-color: #7bad42;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--joplin-font-size);
}

.itags-search-note:hover { background-color: #9ccc65; }
.itags-search-note.negated { background-color: #8b5e9a; }
.itags-search-note.negated:hover { background-color: #a17db0; }

.itags-search-operator {
    padding: 3px;
    margin: 0 5px;
    background-color: #e7e7e7;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: var(--joplin-font-size);
}

.itags-search-operator:hover {
    background-color: #d3d3d3
}

.itags-search-tagDelete {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    font-size: var(--joplin-font-size);
    margin-left: 5px;
    width: 18px;
    height: 18px;
}

#itags-search-inputResultArea {
    display: flex;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: var(--joplin-font-size);
}

#itags-search-resultFilter {
    flex-grow: 2;
    min-height: 23px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
}

#itags-search-resultSort {
    flex-grow: 1;
    min-height: 23px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    margin-left: 5px;
}

#itags-search-resultToggle, #itags-search-resultOrder {
    flex-grow: 1;
    min-height: 23px;
    margin-left: 5px;
    cursor: pointer;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-radius: 3px;
    border-spacing: 5px;
    border-style: solid;
}

#itags-search-inputResultArea button:hover {
    background-color: var(--joplin-background-color-hover3);
}

#itags-search-resultsArea {
    max-height: calc(100vh - 249px);
    margin-top: 5px;
    margin-bottom: 0px;
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 5px;
    overflow-y: scroll;
    font-size: var(--joplin-font-size);
    box-sizing: border-box;
    font-family: Avenir, Arial, sans-serif;
}

#itags-search-resultsArea::-webkit-scrollbar {
    display: none;
}

#itags-search-resultsArea a {
    color: var(--joplin-url-color);
    cursor: not-allowed;
    pointer-events: none;
    overflow-y: auto;
}

#itags-search-resultsArea p {
    margin: 0px 0;
}

#itags-search-resultsArea ul, ol {
    margin: 5px 0;
    padding-left: 15px;
}

.itags-search-resultNote {
    border: 1px solid rgb(118, 118, 118);
    border-radius: 3px;
    padding: 5px;
}

.itags-search-resultNote h3 {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0px;
}

.itags-search-resultNote h3:hover {
    background-color: var(--joplin-background-color-hover3);
}

.itags-search-resultContent {
    margin-top: 5px;
}

.itags-search-resultSection:hover {
    background-color: var(--joplin-background-color-hover3);
}

hr {
    border: 0;
    height: 1px;
    background-color: rgb(118, 118, 118);
    margin: 5px 0;
}

.itags-search-resultSpace {
    margin-bottom: 5px;
}

.itags-search-renderedTag {
	background-color: #7698b3;
	color: white;
	padding: 0em 0.2em;
	border-radius: 5px;
	display: inline;
}

#itags-search-renderedFilter {
    background-color: #eeee88;
    padding: 0.3px, 0.3px;
    border-radius: 5px;
    display: inline;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-corner {
	background: none;
}

::-webkit-scrollbar-track {
	border: none;
}

::-webkit-scrollbar-thumb {
	background: rgba(100, 100, 100, 0.3);
	border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(100, 100, 100, 0.7);
}

.task-list-item {
    list-style-type: none;  /* Remove the default bullet */
}

.itags-search-contextMenu {
    background-color: var(--joplin-background-color);
    border: 1px solid var(--joplin-divider-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(180, 180, 180, 0.2);
    padding: 5px 0;
    position: fixed;
    z-index: 1000;
}

.itags-search-contextMenu span {
    display: block;
    padding: 4px 8px;
    cursor: pointer;
    color: var(--joplin-color);
}

.itags-search-contextMenu span:hover {
    background-color: var(--joplin-background-color-hover3);
}

.itags-search-renameTag {
    font-family: Avenir, Arial, sans-serif;
    font-size: var(--joplin-font-size);
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-width: 0px;
}